* {
    font-family: 'Trebuchet MS',sans-serif;

}
body {
    background-color: blanchedalmond;
    text-align: center;
}
aside {
    width: 20%;
    float: left;
}
main {
    float: left;
}
aside img {
    width: 100%;
}
footer {
    clear:both;
}
main {width: 80%;}
nav {
    text-align: left;
    margin-left: 10%;
}
#sekcja1,#sekcja2,#sekcja3{
    background-color: salmon;
    margin-left: 10%;
    padding: 10px;
    height: 250px;
}
#sekcja1 {
    display: block;
}
#sekcja2,#sekcja3{
    display: none;
}
button {
    width: 26%;
    color: white;
    border: none;
    font-size: 200%;
    background-color: crimson;
}
button:first-child {
    background-color: Salmon;
}
.wzory {
    width: 70px;
    margin: 5px;
    border-radius: 100%;
}