* {
    font-family: 'Century Gothic',Arial;
}
body {
    background-color: BlanchedAlmond;
}
header, footer{
    background-color: Sienna;
    color:white;
    padding: 5px;
    text-align: center;
    font-size: 130%;
}
#lewy {
    background-color: NavajoWhite;
    margin: 10px;
    padding: 20px;
    width: 35%;
    height: 400px;
    box-shadow: 5px 5px 10px DimGray;
    float: left;
}
nav {
    height: 50px;
    width: 50%;

}
#prawy {
    width: 50%;
    height: 420px;
    overflow: auto;
}
nav ul {
    display: flex;
}
footer{
    clear: both;
}
input,button {
    margin-top: 20px;
}
li {
    display: inline-block;
}
#lewy { float: left }
#kontener {
    display: flex;
    flex-direction: column;
}
img {
    width: 10%;
    float: left;
}
a {
    color:Sienna;
    margin-right: 30px;
}
a:hover {
    color:#4C1900
}
