*  {
    font-family: 'Cambria';
}
body {
    background-color: MistyRose;
}
header,footer {
    height: 200px;
    text-align: center;
    overflow: hidden;
}
section {
    background-color: Plum;
    height: 400px;
    margin: 5px;
    box-shadow: 4px 4px 10px DimGray;
    overflow: hidden;
    float: left;
}
footer {
    clear: both;
}
h2 {
    text-align: center;
}
section {
    width: 100%;
}
@media only screen and (min-width: 801px) {
    section {
        width: 22%;
    }
    
}
input:hover {
    background-color: #505050 ;
    color:white;
}