* {
    font-family: "Century Gothic", Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0EAE2;
}

header, footer {
    background-image: url('cegla.png');
    color: white;
    height: 60px;
    text-align: center;
    line-height: 60px;
    clear: both;
}

nav {
    background-color: #824555;
    width: 80%;
    height: 60px;
    float: left;
}

main {
    width: 100%;
    clear: both;
}

#left, #mid {
    width: 40%;
    height: 500px;
    float: left;
    padding-top: 20px;
}

#left {
    padding-left: 100px;
    font-size: 180%;
}

aside {
    width: 20%;
    height: 560px;
    text-align: right;
    overflow: hidden;
    float: right;
    margin-top: -60px;
}

aside img {
    width: 100%;
}

h2 {
    text-align: center;
}

a {
    color: #F0EAE2;
    padding-left: 100px;
    font-size: 180%;
}

a:hover {
    color: white;
}

