@font-face {
      font-family: 'Dancing Script';
    src: url('czcionki/DancingScript-Regular.woff2') format('woff2'),
        url('czcionki/DancingScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Dancing Script',serif;
    font-size: 120%;
    text-align: center;

}
#naglowkowy1,aside {
    background-color: rosybrown;
    width: 30%;
}
aside {
    text-align: left;
    height: 350px;
}

#naglowkowy2{
    background-color: rosybrown;
    width: 70%;
    height: 100px;
    

}
header,aside {
    float: left;
}
section {
    float: right;
}
section {
    width: 70%;
    height: 550px;
    overflow:scroll;
}
label {
    line-height: 50px;
}
.miniatury {
    width: 150px;
}
.miniatury:hover {
    background-color: bisque;
    width: 200px;
    transition: 1s;
}
footer {
    clear: both;
}
